{% assign section = include.section %}
<section id="{{ section.section_id }}" class="block block-text">
  {% assign title_is_not_empty = section.title | is_not_empty %}
  {% if title_is_not_empty %}
  <h2 class="block-title underline inner-sm">{{ section.title }}</h2>
  {% endif %}
  {% assign image_is_not_empty = section.image | is_not_empty %}
  {% if image_is_not_empty %}
  <div class="block-image">
    <img src="{{ section.image | relative_url }}" alt="{{ section.image_alt }}" />
  </div>
  {% endif %}
  {% assign content_is_not_empty = section.content | is_not_empty %}
  {% if content_is_not_empty %}
  <div class="block-content inner-sm">
    {{ section.content | markdownify }}
  </div>
  {% endif %}
  {% assign actions_is_not_empty = section.actions | is_not_empty %}
  {% if actions_is_not_empty %}
  <div class="block-buttons inner-sm">
    
    {% include cta_buttons.html actions=section.actions %}
  </div>
  {% endif %}

<h3 align="left">Languages and Tools:</h3>
<div class="social-links"> 
    <img class="block-image" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/android/android-original-wordmark.svg" alt="android" width="40" height="40"/>
	<img class="block-image" src="https://angular.io/assets/images/logos/angular/angular.svg" alt="angular" width="40" height="40"/> 
	<img class="block-image " src="https://raw.githubusercontent.com/devicons/devicon/master/icons/angularjs/angularjs-original-wordmark.svg" alt="angularjs" width="40" height="40"/>
	<img class="block-image " src="https://cdn.worldvectorlogo.com/logos/arduino-1.svg" alt="arduino" width="40" height="40"/>
	<img src="https://www.vectorlogo.zone/logos/gnu_bash/gnu_bash-icon.svg" alt="bash" width="40" height="40"/>
	<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg" alt="bootstrap" width="40" height="40"/> 
	<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/c/c-original.svg" alt="c" width="40" height="40"/> 
	<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/cplusplus/cplusplus-original.svg" alt="cplusplus" width="40" height="40"/> 
	<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg" alt="csharp" width="40" height="40"/> 
	<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="40" height="40"/> 
	<img src="https://www.vectorlogo.zone/logos/dartlang/dartlang-icon.svg" alt="dart" width="40" height="40"/>
	<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/django/django-original.svg" alt="django" width="40" height="40"/>
	<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-original-wordmark.svg" alt="docker" width="40" height="40"/> 
	<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/dot-net/dot-net-original-wordmark.svg" alt="dotnet" width="40" height="40"/> 
	<img src="https://www.vectorlogo.zone/logos/firebase/firebase-icon.svg" alt="firebase" width="40" height="40"/> 
	<img src="https://www.vectorlogo.zone/logos/flutterio/flutterio-icon.svg" alt="flutter" width="40" height="40"/> 
	<img src="https://www.vectorlogo.zone/logos/gatsbyjs/gatsbyjs-icon.svg" alt="gatsby" width="40" height="40"/> 
	<img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git" width="40" height="40"/> 
	<img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/go/go-original.svg" alt="go" width="40" height="40"/> 
    <img src="https://www.vectorlogo.zone/logos/grafana/grafana-icon.svg" alt="grafana" width="40" height="40"/>
</div>
<div class="social-links">
<a href="https://codepen.io/rodolfod2r2" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/codepen.svg" alt="rodolfod2r2" height="30" width="40" /></a>
<a href="https://dev.to/rodolfod2r2" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/dev-dot-to.svg" alt="rodolfod2r2" height="30" width="40" /></a>
<a href="https://twitter.com/rodolfod2r2" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/twitter.svg" alt="rodolfod2r2" height="30" width="40" /></a>
<a href="https://linkedin.com/in/rodolfod2r2" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="rodolfod2r2" height="30" width="40" /></a>
<a href="https://stackoverflow.com/users/rodolfod2r2" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/stack-overflow.svg" alt="rodolfod2r2" height="30" width="40" /></a>
<a href="https://codesandbox.com/rodolfod2r2" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/codesandbox.svg" alt="rodolfod2r2" height="30" width="40" /></a>
<a href="https://kaggle.com/rodolfod2r2" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/kaggle.svg" alt="rodolfod2r2" height="30" width="40" /></a>
<a href="https://fb.com/rodolfod2r2" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/facebook.svg" alt="rodolfod2r2" height="30" width="40" /></a>
<a href="https://instagram.com/rodolfod2r2" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/instagram.svg" alt="rodolfod2r2" height="30" width="40" /></a>
<a href="https://dribbble.com/rodolfod2r2" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/dribbble.svg" alt="rodolfod2r2" height="30" width="40" /></a>
<a href="https://www.behance.net/rodolfod2r2" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/behance.svg" alt="rodolfod2r2" height="30" width="40" /></a>
<a href="https://medium.com/rodolfod2r2" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/medium.svg" alt="rodolfod2r2" height="30" width="40" /></a>
<a href="https://www.youtube.com/c/rodolfod2r2" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/youtube.svg" alt="rodolfod2r2" height="30" width="40" /></a>
<a href="https://www.codechef.com/users/rodolfod2r2" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.1.0/icons/codechef.svg" alt="rodolfod2r2" height="30" width="40" /></a>
<a href="https://www.hackerrank.com/rodolfod2r2" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/hackerrank.svg" alt="rodolfod2r2" height="30" width="40" /></a>
<a href="https://codeforces.com/profile/rodolfod2r2" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/codeforces.svg" alt="rodolfod2r2" height="30" width="40" /></a>
<a href="https://www.leetcode.com/rodolfod2r2" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/leet-code.svg" alt="rodolfod2r2" height="30" width="40" /></a>
<a href="https://www.hackerearth.com/@rodolfod2r2" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/hackerearth.svg" alt="@rodolfod2r2" height="30" width="40" /></a>
<a href="https://auth.geeksforgeeks.org/user/rodolfod2r2" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/geeks-for-geeks.svg" alt="rodolfod2r2" height="30" width="40" /></a>
<a href="https://www.topcoder.com/members/@rodolfod2r2" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/topcoder.svg" alt="@rodolfod2r2" height="30" width="40" /></a>
<a href="https://discord.gg/rodolfod2r2" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/discord.svg" alt="rodolfod2r2" height="30" width="40" /></a>
</div>
</section><!-- .block -->
